body  {
    width: 300%;
    margin: 20px;
    background-color: blue;
}
#profile-container {
    max-width: 880px;
    background-color: white;
    border: 20px solid black;
    border-radius: 7px; 
}

#profile-image {
    width: 100%;
    height: auto;
}

#profile-name {
    text-align: center;
}